* {
    padding: 0;

}

h1 {
    font-size: 50px;
    margin-left: 20px;
}

#heading-short {
    font-size: 12px;
}

.container {
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;

}


.container p {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #fb8500;
    padding: 10px;
    border-radius: 10px;
    color: #003049;

}

h3 {
    font-size: 15px;
}

div .heading {
    font-size: 25px;
    color: red;
}

div span {
    color: blue;
    font-weight: 900;
}

#main {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

#author {
    color: #000;
    font-size: 25px;
    margin: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

#git-docs a {
    color: #af15d1;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    margin-left: 1px;
}


/* media queries b */


@media screen and (max-width :709px) {
    h1 {
        font-size: 30px;
    }

}


@media screen and (max-width :470px) {
    h1 {
        font-size: 20px;
    }

}





@media screen and (min-width :486px) {
    .container p {
        width: 500px;

    }

}