*{
    padding: 0;
    
}

h1{
    font-size: 50px;
    margin-left: 20px;
}

div .heading{
    font-size: 25px;
    color: red;
}

div span{
    color: blue;
    font-weight: 900;
}

#main{
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

 #author{
    color: #000;
    font-size: 20px;
    margin: 20px;
}

#git-docs a{
    color: #af15d1;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    margin-left: 1px;
}


/* media queries below */


@media screen and (max-width :612px){
    h1{
        font-size: 30px;
    }
}


@media screen and (max-width :380px){
    h1{
        font-size: 20px;
    }
}
